body {
    background: #e4e6eb;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}


h2 {
    font-size: 22px;
}


.container {
    width: 1200px;
    height: 1358px;
    margin: 20px auto;
    display: flex;
    background-color: white;

    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.sidebar img {
    margin-bottom: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 370px;
    border-radius: 40px;

    background: rgba(224, 235, 254, 0.7);
    text-align: center;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.sidebar .profile-section {
    padding: 0 40px;
    margin-bottom: 36px;

}

.sidebar .header {
    text-align: left;
    margin-bottom: 16px;
}

.sidebar .header h2 {
    display: inline-block;
}

.sidebar .header span {
    font-size: 22px;
}


.sidebar button {
    font-weight: bold;
    font-size: 16px;

    width: 290px;
    height: 48px;
    border-radius: 16px;
    border: none;

    margin: 10px 0;
    /*padding: 14px 16px;*/

    cursor: pointer;

    color: white;
}

.sidebar button.primary {
    background: #7549ea;
}

.sidebar button.secondary {
    background: transparent;
    border: 1px solid #7549ea;
    color: #7549ea;
}

.friends-list {
    display: flex;
}

.friends-list img {
    width: 64px;
    height: 64px;
}

.friends-list img:not(:first-child) {
    margin-left: -19px;
    border-radius: 50%;
}



.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tags span {
    display: inline-block;
    padding: 0 8px;
    border-radius: 6px;

    height: 24px;

    background: rgba(117, 73, 234, 0.2);
    color: #7549EA;


    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}







